header{
    height: 90px;
}

main section {
    margin: 2% 0;
}

.navbar.my_navbar {
    background-color: blue;
    border: 0;
    margin-bottom: 0;
    padding: 20px 0;
}    

.navbar.my_navbar .navbar-brand,
.navbar.my_navbar .navbar-nav li a{
    text-transform: uppercase;
    color: white;
}

.navbar.my_navbar .navbar-nav li a:hover{
    color: aquamarine;
}

/* debug class */
.debug [class*="col-"]{
    height: 150px;
    background-color: pink;
    border: 1px solid 
}

.bg_orange{
    background-color: orange;
}

.my_aqua{
    background-color: aquamarine;
}

.my_star:before,
.my_star:after {
    content: '';
    display: inline-block;
    width: 10%;
    background-color: black;
    height: 4px;
    border-radius: 3px;
    margin: 0 10px;
}

.my_star i{
    font-size: 1.5rem;
    vertical-align: middle;
}

.my_text_white {
    color: white;
}

.my_padding{
    padding: 2% 0;
}



footer{
    
}

